/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #bb86fc;
    text-align: center;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

header, footer {
    padding: 20px;
    background-color: #1f1f1f;
    width: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 10px;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
}

/* Flexbox для главной страницы */
.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Grid для галереи */
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.grid-item {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-item:hover {
    transform: scale(1.05);
}
